<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CompanyCustomTab.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CompanyCustomTab.Properties.Settings>
            <setting name="RevitTab" serializeAs="String">
                <value>CustomTab</value>
            </setting>
            <setting name="EmailSupport" serializeAs="String">
                <value>troygates@gmail.com</value>
            </setting>
            <setting name="RevitServerAdmin" serializeAs="String">
                <value>RevitServerName</value>
            </setting>
            <setting name="ShowRevitServerAdmin" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IntranetAddress" serializeAs="String">
                <value>yourcompanysintranet/home/etc</value>
            </setting>
            <setting name="Website1Address" serializeAs="String">
                <value>www.website1.com</value>
            </setting>
            <setting name="Website1Name" serializeAs="String">
                <value>Website 1 Name</value>
            </setting>
            <setting name="Website2Address" serializeAs="String">
                <value>www.website2.com</value>
            </setting>
            <setting name="Website2Name" serializeAs="String">
                <value>Website 2 Name</value>
            </setting>
            <setting name="Website3Address" serializeAs="String">
                <value>www.website3.com</value>
            </setting>
            <setting name="Website3Name" serializeAs="String">
                <value>Website 3 Name</value>
            </setting>
            <setting name="IntranetName" serializeAs="String">
                <value>Company Intranet</value>
            </setting>
        </CompanyCustomTab.Properties.Settings>
    </userSettings>
</configuration>